In [4]:
#Import required models

from sklearn.ensemble import RandomForestClassifier
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
import os

In [5]:
#Import csv file

filepath = "./Data/3_ML_Dry_Run.csv"
df = pd.read_csv(filepath)
# df = pd.read_csv(os.path.join("Data", "Speed_Dating_Data_columns.csv"))
df

,gender,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
0,0,4,0,0.14,0,27.0,2.0,35.0,20.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
1,0,3,0,0.54,0,22.0,2.0,60.0,0.0,0.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
2,0,10,1,0.16,1,22.0,4.0,19.0,18.0,19.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
3,0,5,1,0.61,0,23.0,2.0,30.0,5.0,15.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
4,0,7,1,0.21,0,24.0,3.0,30.0,10.0,20.0,...,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,5,0,0.64,0,26.0,3.0,10.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8374,1,4,0,0.71,0,24.0,6.0,50.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8375,1,10,0,-0.46,0,29.0,3.0,40.0,10.0,30.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8376,1,16,0,0.62,0,22.0,4.0,10.0,25.0,25.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0
8377,1,15,0,0.01,0,22.0,4.0,20.0,20.0,10.0,...,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0

In [6]:
#Checking to see where the NA values are.  Gender is only 0 or 1.

df.groupby("gender").count()

,order,match,sim_int_pct,samerace,age_partner,race_partner,pf_o_att,pref_sincerity,Pref_intell,pref_fun,...,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy_frm_spddting
gender,,,,,,,,,,,,,,,,,,,,,
0,4184,4184,4105,4184,4155,4164,4164,4164,4164,4155,...,4125,4125,4125,4125,4125,4125,4125,4125,4125,4103
1,4194,4194,4115,4194,4119,4141,4125,4125,4125,4125,...,4174,4174,4174,4174,4174,4174,4174,4174,4174,4174

In [7]:
#Dropping NA values and expanding undergra column using get_dummies
#https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

df2 = df.dropna()
df2 = pd.get_dummies(df2, columns = ["undergra"])

In [8]:
#function created to map through three columns and convert all the strings values to numberic values
#The 3 columns are 1)mn_sat, 2)tuition, 3)income

def string_to_number(val):
    return int(''.join(filter(str.isdigit, val)))

In [9]:
#mapping through the columns

df2["mn_sat"] = df2["mn_sat"].map(string_to_number)

In [10]:
#mapping through the columns

df2["tuition"] = df2["tuition"].map(string_to_number)

In [11]:
#mapping through the columns

df2["income"] = df2["income"].map(string_to_number)

In [12]:
#separating based on gender to see if the priorites changed between male and female

df_male = df2.loc[df2["gender"]==1]
df_female = df2.loc[df2["gender"]==0]
# male_female
# df_female

In [13]:
#prepping for model.  X represents inputs. y represents the target
#first set is all the data together, then individual male and female


X = df2.drop(columns = 'match')
y = df2["match"]
X_male = df_male.drop(columns = ['match' , "gender"])
y_male = df_male["match"]
X_female = df_female.drop(columns = ['match' , "gender"])
y_female = df_female["match"]

In [14]:
# X_male_train["gender"]

In [15]:
#Splitting data into training and testing sets

X_male_train, X_male_test, y_male_train, y_male_test = train_test_split(X_male, y_male, random_state=42)
X_female_train, X_female_test, y_female_train, y_female_test = train_test_split(X_female, y_female, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [28]:
#Training the model (combined data set)
# changes to the default ('criterion': 'entropy', 'max_features': None, 'n_estimators': 100)
rf = RandomForestClassifier(n_estimators=100, criterion='entropy',max_features=None)
# rf = RandomForestClassifier(n_estimators=200)
rf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features=None,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [29]:
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8777258566978193

In [16]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'criterion': ['gini', 'entropy'],
    'min_samples_split':[1, 2, 3, 4],
    'min_samples_leaf': [1,2,3],
    #'min_weight_fraction_leaf':[0.0],
    'max_features':['auto', 'log2' , None],
    'bootstrap': [True,False],
    'oob_score': [True,False],
    'verbose': [0,1,2,3]
}
grid = GridSearchCV(rf, param_grid, verbose=3)

In [3]:
#*******This will take 15 hours to run *********
# grid.fit(X_train, y_train)

In [18]:
print(grid.best_params_)
print(grid.best_score_)

{'bootstrap': True, 'criterion': 'entropy', 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100, 'oob_score': False, 'verbose': 0}
0.864708339649974

In [36]:
#Training the model (male set)

#rf_male = RandomForestClassifier(n_estimators=200)
rf_male = RandomForestClassifier(n_estimators=100, criterion='entropy',max_features=None)
rf_male = rf_male.fit(X_male_train, y_male_train)
rf_male.score(X_male_test, y_male_test)

0.8708551483420593

In [37]:
#Training the model (female data set)

# rf_female = RandomForestClassifier(n_estimators=200)
rf_female = RandomForestClassifier(n_estimators=100, criterion='entropy',max_features=None)
rf_female = rf_female.fit(X_female_train, y_female_train)
rf_female.score(X_female_test, y_female_test)

0.8804500703234881

In [20]:
#Do not use - used for troubleshooting 

### pd.set_option('display.max_columns', None)
### pd.set_option('display.max_rows', None)
#df2.dtypes

In [21]:
#function created to map through the feature % column and rounded to 6 decimal places

def round_Feature (x):
    return round(x,6)*100

In [38]:
#creating df and mapping through the feature % col using the function above  (top 52 features)

features_of_importance = sorted(zip(rf.feature_importances_, X.columns), reverse=True)
feature_df = pd.DataFrame(features_of_importance, columns=["Feature_Percentage" , "Feature"])
feature_df["Feature_Percentage"] = feature_df["Feature_Percentage"].map(round_Feature)
feature_df = feature_df.head(52)
feature_df

    Feature_Percentage                Feature
0              36.0953            dec_partner
1               3.1598            sim_int_pct
2               2.6063       partner_says_yes
3               2.5614                  order
4               2.2411         pref_sincerity
5               2.2339        pref_shared_int
6               2.0725            age_partner
7               2.0500               pf_o_att
8               1.9538               pref_fun
9               1.9498            Pref_intell
10              1.8768           pref_ambiton
11              1.4965                 income
12              1.4523               exercise
13              1.3875               concerts
14              1.3363            age_subject
15              1.3045        shar_of_partner
16              1.2939             met_before
17              1.2911               field_cd
18              1.2701                imprace
19              1.2672         amb_of_partner
20              1.2415         fun_of_partner
21              1.1872               tvsports
22              1.1081               clubbing
23              1.0873       intel_of_partner
24              1.0751           race_partner
25              1.0642                 hiking
26              1.0200                 sports
27              1.0149                 gaming
28              1.0144  exphappy_frm_spddting
29              0.9941               shopping
30              0.9927                reading
31              0.9610   overall_attr_partner
32              0.9589        sinc_of_partner
33              0.9563                     tv
34              0.9361                   yoga
35              0.9120       likeness_partner
36              0.9114                  music
37              0.8958                tuition
38              0.8550                 movies
39              0.8487                   date
40              0.8444                    art
41              0.8044               career_c
42              0.7806               imprelig
43              0.7545                theater
44              0.7203                 mn_sat
45              0.6521                   goal
46              0.6520                 go_out
47              0.6413                museums
48              0.6273                   race
49              0.6225                 dining
50              0.4980                 gender
51              0.3160               samerace

In [39]:
#same process for male and female

male_features_of_importance = sorted(zip(rf_male.feature_importances_, X_male.columns), reverse=True)
male_feature_df = pd.DataFrame(male_features_of_importance, columns=["Feature_Percentage" , "Feature"])
male_feature_df["Feature_Percentage"] = male_feature_df["Feature_Percentage"].map(round_Feature)
male_feature_df = male_feature_df.head(51)
male_feature_df

    Feature_Percentage                Feature
0              45.1113            dec_partner
1               4.1053       partner_says_yes
2               2.5860            sim_int_pct
3               2.3195         pref_sincerity
4               1.8767            Pref_intell
5               1.8513                  order
6               1.7352           pref_ambiton
7               1.6604        pref_shared_int
8               1.6511            age_partner
9               1.5083               pref_fun
10              1.5001                imprace
11              1.4941               pf_o_att
12              1.3919                tuition
13              1.2584               career_c
14              1.2156        sinc_of_partner
15              1.1999               tvsports
16              1.1299                 gaming
17              1.1152                   yoga
18              1.0688                     tv
19              1.0407   overall_attr_partner
20              0.9923         amb_of_partner
21              0.9824        shar_of_partner
22              0.9817            age_subject
23              0.9517               exercise
24              0.9465                 hiking
25              0.9328               field_cd
26              0.9129         fun_of_partner
27              0.9032                   date
28              0.8949       intel_of_partner
29              0.8806                 mn_sat
30              0.8379                 income
31              0.8030                reading
32              0.7996  exphappy_frm_spddting
33              0.7981       likeness_partner
34              0.7774                    art
35              0.7549                museums
36              0.7407               concerts
37              0.7145               shopping
38              0.6923                theater
39              0.6893               clubbing
40              0.6868               imprelig
41              0.6823                  music
42              0.6106                 sports
43              0.5839                 dining
44              0.5489           race_partner
45              0.5446                 movies
46              0.5008               samerace
47              0.4671                 go_out
48              0.4549                   goal
49              0.2730                   race
50              0.2408             met_before

In [40]:
female_features_of_importance = sorted(zip(rf_female.feature_importances_, X_female.columns), reverse=True)
female_feature_df = pd.DataFrame(female_features_of_importance, columns=["Feature_Percentage" , "Feature"])
female_feature_df["Feature_Percentage"] = female_feature_df["Feature_Percentage"].map(round_Feature)
female_feature_df = female_feature_df.head(51)
female_feature_df

    Feature_Percentage                Feature
0              29.6029            dec_partner
1               3.8874            sim_int_pct
2               3.4737         pref_sincerity
3               3.0490                  order
4               2.6172       partner_says_yes
5               2.5703        pref_shared_int
6               2.4269               pref_fun
7               2.2366           pref_ambiton
8               2.1961            age_partner
9               1.9817               pf_o_att
10              1.9187            Pref_intell
11              1.8297                 income
12              1.8132               exercise
13              1.7149        shar_of_partner
14              1.4034                     tv
15              1.3825           race_partner
16              1.3391               clubbing
17              1.3239       intel_of_partner
18              1.3091   overall_attr_partner
19              1.2978        sinc_of_partner
20              1.2896  exphappy_frm_spddting
21              1.2858            age_subject
22              1.2754         fun_of_partner
23              1.2357                 sports
24              1.2299         amb_of_partner
25              1.2288                imprace
26              1.2245                theater
27              1.2094                   yoga
28              1.1864               concerts
29              1.1475               field_cd
30              1.0614               tvsports
31              1.0387                 hiking
32              1.0069                  music
33              0.9887                 gaming
34              0.9356               shopping
35              0.9175               career_c
36              0.9120                reading
37              0.9045       likeness_partner
38              0.8920               imprelig
39              0.8562                 mn_sat
40              0.8390                    art
41              0.8232                museums
42              0.8038                   date
43              0.7737             met_before
44              0.7533                tuition
45              0.7403                 go_out
46              0.6754                 dining
47              0.6331                   race
48              0.6212                 movies
49              0.5204                   goal
50              0.4263               samerace

In [22]:
#convert to csv
feature_df.to_csv("./Data/Combined_features_Importance.csv", index=False)

In [25]:
#to csv
male_feature_df.to_csv("./Data/male_features_Importance.csv", index=False)

In [26]:
#to csv
female_feature_df.to_csv("./Data/female_features_Importance.csv", index=False)